# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# Eclipse
.settings/
.project
.classpath

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/

# Logs
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos de entorno
.env

# Archivos temporales
*.bak
*.tmp

# Directorios de entorno
/bin

#Ignore data folder
/data

