# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# Eclipse
.settings/
.project
.classpath

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/

# Logs
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos de entorno
.env

# Archivos temporales
*.bak
*.tmp

# Directorios de entorno
/bin

# Ignorar únicamente el fichero de base de datos
/src/main/resources/data/gofinance.db

# Re-incluir la carpeta data (y todos sus contenidos, excepto lo anterior)
!/src/main/resources/data/
!/src/main/resources/data/**
